.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

a {
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
}
